.about-title {
  font-size: 28px;
  color: #dcbdd8;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  user-select: none;
}

.about-title:hover {
  opacity: 1;
}

.about-subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 279px;
}

.about-photo {
  border-radius: 24px;
  max-height: 500px;
  object-fit: cover;
  object-position: top;
}

.about-container-part {
  min-height: 500px;
  border-radius: 24px;
}

.about-container-part-left {
  background-color: var(--tabs);
  padding: 32px;
}

.about-container-part-right {
  user-select: none;
}

.about-container {
  margin-top: 20px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .about-container-part-left {
    padding: 64px;
  }

  .about-container-part {
    min-height: 700px;
  }

  .about-photo {
    width: 704px;
    min-height: 740px;
  }

  .about-subtitle {
    font-size: 38px;
    line-height: 1.05;
    max-width: 576px;
  }
}

@media screen and (min-width: 1440px) {
  .about-subtitle {
    max-width: 552px;
  }

  .about-container {
    grid-template-columns: 1fr 1fr;
  }

  .about-photo {
    min-height: 700px;
    max-height: 700px;
  }
}
