.ac-panel {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 15px;
}

.ac-content {
  color: var(--content);
}

.ac-panel.active {
  max-height: 200px;
}

.ac-trigger {
  color: var(--white);
  background-color: transparent;
  font-size: 18px;
  margin-bottom: 10px;
}

.ac-trigger:hover {
  color: var(--white-hover);
}
