.header {
  padding-top: 32px;
}

.header-nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.order-project {
  justify-self: end;
  z-index: 999;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  user-select: none;
  z-index: 999;
}

.header-logo-title {
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02em;
  z-index: 999;
}

.header-logo-img {
  border-radius: 24px;
  z-index: 999;
}

.header-button {
  display: flex;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #9b59b6;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
}

.header-button:hover,
.header-button:focus {
  background: #8e44ad;
}

@media screen and (min-width: 768px) {
  .header {
  }
}

@media screen and (min-width: 1440px) {
}
