<section class="section about-me" id="about-me">
  <div class="container">
    <h2 class="about-title">About Me</h2>
    <div class="about-container">
      <div>
        <h3>
          I work with people all over the world to create impressive and
          functional websites that reflect each client's unique personality.
        </h3>
      </div>
      <div>
        <img
          class=""
          src="../img/main/photo.jpg"
          loading="lazy"
          alt="My photo"
          width="680"
          height="700"
        />
      </div>
    </div>
  </div>
</section>
