<section class="section about-me" id="about-me">
  <div class="container">
    <h2 class="about-title">Обо мне</h2>
    <div class="about-container">
      <div class="about-container-part about-container-part-left">
        <h3 class="about-subtitle">
          <span class="about-span">Меня</span> зовут
          <span class="about-span-name">Данил</span>. Мне почти
          <span class="about-span-age">18</span> лет. Занимаюсь
          <span class="about-span-design">дизайном</span> и
          <span class="about-span-animation">анимацией</span>.
        </h3>
      </div>
      <div class="about-container-part">
        <img
          class="about-photo"
          src="./img/main/photo.jpg"
          loading="lazy"
          alt="My photo"
          width="700"
          height="680"
        />
      </div>
    </div>
  </div>
</section>
