<section class="section faq-section">
  <div class="faq-container container">
    <h2 class="section-title">Вопрос/Ответ</h2>
    <div class="faq-inner-container">
      <div class="faq-divide-container faq-divide-container-left">
        <ul class="faq-ac-first ac-container">
          <!-- Tab 1 -->
          <li class="faq-tab-left ac">
            <div class="faq-tab-help-container-left">
              <button type="button" class="ac-trigger">
                1. Какой средний дедлайн на один проект?
              </button>
              <div class="ac-panel">
                <p class="ac-content">
                  Средний дедлайн составляет от 3 дней до недели. С большими
                  проектами от 2 недель до нескольких месяцев.
                </p>
              </div>
            </div>
          </li>

          <!-- Tab 2 -->
          <li class="faq-tab-left ac">
            <div class="faq-tab-help-container-left">
              <button type="button" class="ac-trigger">
                2. Какой софт используется в работе?
              </button>
              <div class="ac-panel">
                <p class="ac-content">
                  Основной софт: After Effects, Premiere Pro, Animate.
                  Второстепенный: Photoshop, Illustrator, Blender.
                </p>
              </div>
            </div>
          </li>

          <!-- Tab 3 -->
          <li class="faq-tab-left ac">
            <div class="faq-tab-help-container-left">
              <button type="button" class="ac-trigger">
                3. Как выполняется большой проект?
              </button>
              <div class="ac-panel">
                <p class="ac-content">
                  Мы общаемся по вашему вопросу, находим подходящий вариант,
                  проводим брифинг если потребуется. Вы вносите оплату и в
                  обозначенный срок получаете готовую работу.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="faq-divide-container faq-divide-container-right">
        <ul class="faq-ac-secondond ac-container">
          <!-- Tab 4 -->
          <li class="faq-tab-left ac">
            <div class="faq-tab-help-container-left">
              <button type="button" class="ac-trigger">
                4. Вносятся ли правки в работу?
              </button>
              <div class="ac-panel">
                <p class="ac-content">
                  Да, я внесу ваши 2 правки бесплатно и последующие в 10% от
                  цены.
                </p>
              </div>
            </div>
          </li>

          <!-- Tab 5 -->
          <li class="faq-tab-left ac">
            <div class="faq-tab-help-container-left">
              <button type="button" class="ac-trigger">
                5. Есть ли дополнительные услуги и какие ?
              </button>
              <div class="ac-panel">
                <p class="ac-content">
                  Да есть. Помимо основных услуг, есть индивидуальные: мы с
                  командой можем создавать сайты, продвигать ваш проект,
                  оказывать маркетинговые и SMM услуги, а также создавать
                  приложения и игры.
                </p>
              </div>
            </div>
          </li>

          <!-- Tab 6 -->
          <li class="faq-tab-left ac">
            <div class="faq-tab-help-container-left">
              <button type="button" class="ac-trigger">
                6. Как со мной связаться?
              </button>
              <div class="ac-panel">
                <p class="ac-content">
                  Вы можете написать мне на почту:<a
                    href="mailto:teteklder@gmail.ru"
                    >teteklder@gmail.ru</a
                  >
                  Либо связаться в телеграмме :
                  <a href="https://t.me/xfloyden" target="_blank" rel="noopener"
                    >@xfloyden</a
                  >
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
