<header class="header">
  <ul class="header-nav container">
    <li class="header-logo">
      <img
        class="header-logo-img"
        src="./img/header/logo.jpg"
        loading="lazy"
        alt="logo"
        width="80"
        height="80"
      />
      <h2 class="header-logo-title">Danil_Belyansky *</h2>
    </li>
    <li class="accordion-menu-container">
      <div class="ac-menu">
        <button type="button" class="menu">Меню</button>
            <ul class="ac-menu-panel">
              <li class="ac-menu-text"><a href="#about-me">Обо мне</a></li>
              <li class="ac-menu-text"><a href="#benefits">Преимущества</a></li>
              <li class="ac-menu-text"><a href="#projects">Проекты</a></li>
              <li class="ac-menu-text"><a href="#faq">Вопрос/ответ</a></li>
            </ul>
        </div>
      </div>
    </li>
    <li class="order-project">
      <button type="button" class="header-button">Заказать проект</button>
    </li>
  </ul>
</header>
