<header class="header">
  <ul class="header-nav container">
    <li class="header-logo">
      <img
        class="header-logo-img"
        src="./img/header/logo.jpg"
        loading="lazy"
        alt="logo"
        width="80"
        height="80"
      />
      <h2 class="header-logo-title">Danil_Belyansky *</h2>
    </li>
    <li class="accordion-menu-container">
      <div class="ac-menu">
        <button type="button" class="menu">Меню</button>
        <div class="ac-menu-panel">
          <a href="#about-me" class="ac-menu-text">Обо мне</a>
          <a href="#benefits" class="ac-menu-text">Преимущества</a>
          <a href="#projects" class="ac-menu-text">Проекты</a>
          <a href="#faq" class="ac-menu-text">Вопрос/ответ</a>
        </div>
      </div>
    </li>
    <li class="order-project">
      <button type="button" class="header-button">Заказать проект</button>
    </li>
  </ul>
</header>
