<section class="section hero-section">
  <video autoplay muted loop class="hero-background-video">
    <source src="img/hero/hero.MP4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="container hero-container">
    <h1 class="hero-title">
      Привет! <span class="light-red">Меня</span> зовут
      <span class="light-yellow">Данил Белянский</span>. Я
      <span class="light-blue">многофункциональный </span> специалист в
      <span class="light-green">области</span> создания анимированной
      <span class="light-purple">2D/3D графики</span>.
    </h1>
  </div>
</section>
